.container-big-card {

  margin-left: 20px;
  margin-right: 20px;
  width: 500px;
  height: 500px;


  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-card-title > h1 {
  font-size: 25px;
  margin-top: 15px;

}

.big-card-title > h1 > a {
  color: #00693e;
}

.big-card-description {
  margin-top: 20px;
}

.big-card-description > p > a {
  color: gray;
}

.big-card-photo > img {
  width: 100%;
  min-width: 500px;
}

