<div class="container-small-card">
  <div class="container-small-card-content">
    <div class="small-card-photo">
      <img src="https://m.media-amazon.com/images/M/MV5BNjNkODU2ZGMtODdhOC00MTU0LTllNzItYzhjNWViOTMzNzFmXkEyXkFqcGdeQXVyNjAwNDUxODI@._V1_QL75_UX500_CR0,0,500,281_.jpg"
       alt=""
       srcset=""
      >

    </div>
    <div class="small-card-title">
      <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
  </div>

  <div class="container-small-card-separator">
    <hr>
  </div>
</div>

